#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  width: 50vw;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #ffffff55);
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 90vw;
    will-change: filter;
    transition: filter 300ms;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 10em #ffffff);
}