:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #FF66C4;
  background: linear-gradient(90deg, rgba(255, 102, 196, 1) 0%, rgba(255, 222, 89, 1) 100%);


  body {
    display: flex;
    /* place-items: center; */
  }

}